.layout-wrapper {
    font-family: sans-serif;
  }
  
  .layout-wrapper main {
    background-color: #3DB6B6;
  }
  
  .layout-wrapper a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  